<html>
<head>
  <meta charset="utf-8">
  <title>Rancher Wrangler</title>
  <link rel="stylesheet" href="/assets/application.css" type="text/css" media="all" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Wrangler</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <!--<form class="navbar-form navbar-right">-->
        <!--<input type="text" class="form-control" placeholder="Search...">-->
      <!--</form>-->
    </div>
  </div>
</nav>
<br/>
<br/>
  <div class="container">
    {{ yield }}
  </div>

  <script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
