<div class="row">
</div>
<div class="col-md-10">
    <h1>Wrangler - Add a new host to inventory</h1>
    <hr>
    <form action="/hosts/create" method="GET|POST">
        Rancher Server URL (e.g. https://rancher.domain.com:8080/):  <input type="text" name="host_uri" />
        <br/>
        Rancher Server API Version (e.g. v1 or v2-beta):
        <input type="radio" name="api_version" value="v1"> v1
        <input type="radio" name="api_version" value="v2-beta"> v2-beta
        <br/>
        Rancher API Access Key:  <input type="text" name="access_key" />
        <br/>
        Rancher API Secret Key:  <input type="text" name="secret_key" />
    </form>
